
$mobile-bp: 599px; // mobile
$tablet-bp: 767px; // tablet
$desktop-bp: 1024px; // small desktop
$desktop-md-bp: 1199px; // medium desktop
$desktop-lg-bp: 1599px; // large desktop

$container-width: 1140px;
$container-padding-mobile: 20px;
$container-padding-desktop: 30px;

//*** Colors ***//
$color-grey: #cccccc;
$color-dark: #212121;
$color-light: #efefef;
$color-link: #3A74B4;

//*** Font ***//
$f-body: Helvetica, Arial, sans-serif;
$f-heading: Helvetica, Arial, sans-serif;