@import "../../styles/utils.scss";

.el {
  .content {
    border: 1px solid $color-dark;
    display: inline-block;
    padding: 20px;
  }

  table, th, td {
    border: 1px solid $color-dark;
  }

  th, td {
    padding: 5px;
  }

  table {
    border-collapse: collapse;
  }

  label {
    margin-right: 15px;
    min-width: 150px;
  }

  .images {
    &__input,
    &__destination {
        margin-bottom: 15px;
    }
  }
}
